@page
<!DOCTYPE html>

<html lang="en">
<head>
    <title>Transaction Enricher web interface</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <label>
            Upload your CSV file with transactions to enrich <br/>
            <input type="file" name="csv"/>
        </label>
        <br/>
        <br/>
        <input type="submit" value="Enrich transactions"/>
    </form>
</body>
</html>